---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="About me">
  <div class="flex flex-col gap-2">
    <div class="text-sm font-light">
      <p>
        Hi, I'm Daniel, a data analyst from Spain.
        <br />
        My primary tools of choice includes:
      </p>
      <ul class="list-disc list-inside">
        <li>PowerBI</li>
        <li>Python</li>
        <li>Tableau</li>
        <li>SQL</li>
        <li>MongoDB</li>
      </ul>
    </div>
    <p class="text-sm font-light">
      Master's in Business Intelligence & Big Data (European Postgraduate Institute of Madrid), Bachelor's in English Studies (University of Murcia). <br><br>Currently learning Python. Data Analyst specializing in helping enterprises extract relevant information in our globalized world. International experience at Royal Holloway University. Strong teamwork, communication & leadership skills.
    </p>
  
  </div>
</Card>
